{% extends "base_generic.html" %}

{% block content %}
<div style="margin-left:25%">
<h1>BookInstance: {{ bookinstance.book.title }}</h1>

<p><strong>Author:</strong> <a href="{{ bookinstance.book.author.get_absolute_url }}">{{ bookinstance.book.author }}</a></p>

<p><strong>Imprint:</strong> {{ bookinstance.imprint }}</p>
<p><strong>Status:</strong> {{ bookinstance.get_status_display }} {% if bookinstance.status != 'a' %} (Due: {{bookinstance.due_back}}){% endif %}</p>

<hr>
<ul>
  <li>
    <a href="{{ bookinstance.book.get_absolute_url }}">All copies</a></p>
  </li>
</ul>
</div>
{% endblock %}


{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_bookinstance or perms.catalog.delete_bookinstance %}
  <hr>
  <!-- <ul class="sidebar-nav"> -->
    <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:25%">
    {% if perms.catalog.change_bookinstance %}
      <!-- <li> -->
        <a href="{% url 'bookinstance-update' bookinstance.id %}"class="w3-bar-item w3-button w3-hover-blue">Update BookInstance</a>
      <!-- </li> -->
    {% endif %}
    {% if perms.catalog.delete_bookinstance %}
      <!-- <li> -->
        <a href="{% url 'bookinstance-delete' bookinstance.id %}"class="w3-bar-item w3-button w3-hover-blue">Delete BookInstance</a>
      <!-- </li> -->
    {% endif %}
  <!-- </ul> -->
  {% endif %}
</div>
{% endblock %}
