{% extends "base_generic.html" %}

{% block content %}
<div style="margin-left:25%">
<h1>Genre: {{ genre.name }}</h1>


<h4>Books in genre</h4>

<ul>
  {% for copy in genre.book_set.all %}
  <li>
    <a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a> ({{copy.author}})
  </li>
  {% empty %}
  <li>There are no books in this genre.</li>
  {% endfor %}
</ul>
</div>
{% endblock %}


{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_genre or perms.catalog.delete_genre %}
  <hr>
  <!-- <ul class="sidebar-nav"> -->
    <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:25%">
    {% if perms.catalog.change_genre %}
    <!-- <li> -->
      <a href="{% url 'genre-update' genre.id %}"class="w3-bar-item w3-button w3-hover-blue">Update Genre</a>
    <!-- </li> -->
    {% endif %}
    {% if not genre.book_set.all and perms.catalog.delete_genre %}
      <!-- <li> -->
        <a href="{% url 'genre-delete' genre.id %}"class="w3-bar-item w3-button w3-hover-blue">Delete Genre</a>
      <!-- </li> -->
    {% endif %}
    <!-- </ul> -->
  {% endif %}
</div>
{% endblock %}
